{% extends "layout.html" %}
{% block content %}
<section class="article" id="content">
    <header>
        <p class="summary"></p>
    </header>
    <div class="entry-content">
        <p><del>IMORTANT: Since, this app is deployed using Heroku free tier account, any user accounts and posts would be automatically removed daily.<br>
        Would migrate the db to Postgres later in order to retain user content.</del></p>
        <p><del>Only the first user account <a href="{{ url_for('profile', uid=1) }}">vader</a> and my <a href="{{ url_for('post', uid=1) }}">first post</a> will remain active, since it is seeded at initial database setup.</del></p>
        <p>UPDATE: The db has been migrated to Heroku Postgres. Now user accounts and posts would be saved normally.</p>
        <p>UPDATE: The custom upload of images and documents is present in code, but those will still be deleted at app resets. As such, it is suggested to use now third party for storage of images and documents, (img & documents source links) which could be added and used in content posting in markdown format. (Note: For testing page layout of user content, local upload could still be helpful.)</p>
        <p>This blogging site is developed using Python flask framework in a Docker container, deployed using Heroku.</p>
        <p>Development details:
        <br>For Users, Posts-details, Comments and other settings, <del>I have used Sqlite database. Whereas, the actual post content is stored using markdown format in file storage system.</del><br>
        Now all content is stored in Postgres db using Heroku Postgress Addon.</p>

        <p><center><i>love peace happiness</i></center></p>
    </div>
</section>
{% endblock %}