{% extends "layout.html" %}
{% block content %}

<section class="article" id="content">
    <header>
        <!-- Post Title -->
        <p class="summary">Add a new post
        </p>
    </header>
    <!-- Content Main Start -->
    <div class="entry-content">
        <!-- Main Content Data -->
        <form method="POST" action="{{ url_for('createpost') }}">
            <p>This blog app uses the markdown format for saving post entries. Scroll to the bottom of this page to view the basic Markdown format editing guide.<br>
                You can find out more info at <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheetsheet by Adam Pritchard</a>.
            </p>
            <p>
                Title<br>
                <input type="text" id="e_title" name="e_title"><br><br>
                Featured image url<br>
                After creating post, you can click on the profile name at the top menu (when logged in) to visit your profile page. Upon further editing posts, and uploading images, you can add a featured image which will be displayed at top of your post and on index page.<br><br>
                Summary<br>
                <textarea style="max-width:33rem;width:80%" name="e_summary" rows="4" id="e_summary"></textarea><br><br>
            </p>
            <hr>
            <p>
                Entry<br><textarea style="max-width:33rem;width:80%" name="e_text" rows="20" id="e_text"></textarea>
                <br>
                <input type="submit" value="Save">
            </p>
        </form>
        <h2>Editing Guide</h2><p>{{markdown_guide|markdown}}</p>
        <p style="text-align: center;">...</p>
    </div> <!-- entry-content -->
</section> <!-- content -->
{% endblock %}