{% extends "layout.html" %}
{% block content %}
<section class="article" id="content">
    <header>
        <!-- Post Title -->
        <p class="summary">Edit post</p>
    </header>
    <!-- Content Main Start -->
    <div class="entry-content">
        <!-- Main Content Data -->
        <form method="POST" action="{{ url_for('editpost', postid=p['uid']) }}">
            <input type="text" id="post_id" hidden="true" name="post_id" value='{{ p['uid'] }}'>

            <p>This blog app uses the markdown format for saving post entries. Scroll to the bottom of this page to view the basic Markdown format editing guide.<br>
                You can find out more info at <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Cheetsheet by Adam Pritchard</a>.
            </p>
            <p>
                Title<br>
                <input type="text" id="e_title" name="e_title" value='{{ p['entrytitle'] }}'><br><br>
                Featured image url<br>
                At the bottom there is an option to upload files. After upload, you can use those image links here.&nbsp;&nbsp;
                <input type="text" id="e_featured_img" name="e_featured_img" value='{{ p['featured_img'] }}'><br><br>
                Summary<br>
                <textarea style="max-width:33rem;width:80%" name="e_summary" rows="4"
                id="e_summary">{{ p['summary'] }}</textarea><br><br>
            </p>
            <hr>
            <p>
                Entry<br><textarea style="max-width:33rem;width:80%" name="e_text" rows="20"
                id="e_text">{{p['content']}}</textarea>
                <br><br>
                Would you like to make this post visible to the public?&nbsp;
                <input type="checkbox" id="is_live" value="Is Live"></input>
                <br><br>
                Would you like to make this post show on your profile page?&nbsp;
                <input type="checkbox" id="profile_post" name="profile_post"></input><br><br>
                
                <a href="{{ url_for('upload') }}"><u>Click to upload images or documents to use them in your post content.</u></a><br><br>
                <input type="submit" value="Save">
            </p>
        </form><hr>
        
        {% if images %}
        <h2>Uploaded files</h2>
        {% else %}
        <h2>Nothing uploaded yet</h2>
        {% endif %}
        <p>You can use your uploaded files (images and/or document) links in your post content using the markdown guide below.</p>
        <p style="text-align: center;">...</p>
        {% if images %}
        <ul class="cols recent">
            {% for im in images %}
            <li class="obs">
                <article>
                    <a href="{{ url_for('getp', postid=p['uid'], ty='img', fname=im) }}" rel="bookmark"
                    title="Permalink to Fruit Trenches: Cultivating Subtropical Plants in Freezing Temperatures">
                    <img class="featured-img" src="{{ url_for('getp', postid=p['uid'], ty='img', fname=im) }}">
                </a>
                <!-- <input id="copy-text" onclick="javascript:{t='/getp/{{ p['uid'] }}/img/{{ im }}';d=document;d.body.appendChild(Object.assign(d.createElement('textarea'),{value:t, visibility:'hidden'})).select();d.execCommand('copy');}" readonly="true" type="text" value="/getp/{{ p['uid'] }}/img/{{ im }}"> -->
                <input id="copy-text"
                onclick="javascript:{t='/getp/{{ p['uid'] }}/img/{{ im }}';d=document;d.body.appendChild(Object.assign(d.createElement('textarea'),{value:t, visibility:hidden})).select();d.execCommand('copy');alert('Text Copied\n'+t);}"
                readonly="true" type="text" value="/getp/{{ p['uid'] }}/img/{{ im }}">
            </article>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if documents %}
    <ul>
        {% for dc in documents %}
        <li>
            <a href="{{ url_for('getp', postid=p['uid'], ty='docu', fname=dc) }}" rel="bookmark"
            title="Permalink to Fruit Trenches: Cultivating Subtropical Plants in Freezing Temperatures">
            {{ dc }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Editing Guide</h2><p>{{markdown_guide|markdown}}</p>
    <p style="text-align: center;">...</p>
</div> <!-- entry-content -->
</section> <!-- content -->
{% endblock %}