{% extends "layout.html" %}
{% block content %}

<section id="content">
    <!-- Latest article feature -->
    {% if cover_post %}
    <ul class="cols cover">
        <li>
            <a href="{{ url_for('post', uid=cover_post['uid']) }}"
                rel="bookmark" title="Permalink to {{ cover_post['entrytitle'] }}">
                <h2 class="entry-title">{{ cover_post['entrytitle'] }}</h2>
            </a>
            <a class="category" href="https://solar.lowtechmagazine.com/low-tech-solutions.html">Low-tech Solutions</a>
            <p class="index-summary">{{ cover_post['summary'] }}</p>
            <time class="published" datetime="{{ cover_post['time'] }}">{{ cover_post['time'] }}</time>
        </li>
        <li>
            <a href="{{ url_for('post', uid=cover_post['uid']) }}"
                rel="bookmark" title="Permalink to {{ cover_post['entrytitle'] }}">
                <div class="featured-img"
                    style="background-image: url({{ cover_post['featured_img'] }});">
                </div>
            </a>
        </li>
    </ul>
    {% endif %}
    <!-- Recent Articles -->
    {% if posts %}
    <div class="container">
        {% for post in posts %}
        <div>
            <a href="{{ url_for('post', uid=post['uid']) }}" rel="bookmark"
                title="Permalink to Fruit Trenches: Cultivating Subtropical Plants in Freezing Temperatures">
                {% if post['featured_img'] %}
                <div class="featured-img" style="background-image: url({{ post['featured_img'] }});"></div>
                {% endif %}
                <h2 class="entry-title">{{ post['entrytitle'] }}</h2>
            </a>
            <a class="category" href="https://solar.lowtechmagazine.com/obsolete-technology.html">Obsolete
                Technology</a>
            <p class="index-summary">{{ post['summary'] }}</p>
            <time class="published" datetime="{{ post['time'] }}">{{ post['time'] }}</time>
        </div>
        {% endfor %}
    </div>
    <!-- /posts-list -->
    {% endif %}
</section>
<!-- /#content -->
<!-- <div class="paginator">
    page 1 / 9
    <a href="https://solar.lowtechmagazine.com/index2.html">»</a>
</div> -->
{% endblock %}