<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ config['SITE_TITLE'] }}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .container > div {
            /* margin: 12px; */
            max-width: 33.3%;
            padding: 1rem 1rem 1rem 0;
        }
        .container > div:nth-child(3n){
            padding-right: 0;
        }
    </style>
</head>

<body>
    <main>
        <!-- Top Blog Name, Summary, Menu -->
        {% block content %}

        {% endblock %}

    </main>

    <script>
        //mobile menu toggle
        var mobilemenu = document.getElementById('menu-s');
        mobilemenu.addEventListener('click', function () {
            console.log('togglemenu');
            document.getElementById('menu-list').classList.toggle("show");
        });
    </script>
</body>

</html>
