{% extends "layout.html" %}
{% block content %}

<section class="article" id="content">
    <header>
        <!-- Post Title -->
        <p class="summary">Login</p>
    </header>
    <!-- Content Main Start -->
    <div class="entry-content">
        <!-- Main Content Data -->
        <p>Enter your username and password in the following fields and press enter or click Login. If you do not yet have an account with us, you can <a href="{{ url_for('register') }}">signup here</a>.</p>
        <form action="login" method="POST">
            <p>
            Username: &nbsp;
            <input type="text" id="user_name" name="user_name"><br>
            Password: &nbsp;&nbsp;
            <input type="password" id="pass_word" name="pass_word"><br>
            <input type="submit" id="login" value="Login">
            <!-- <input type="button" id="login" value="Login" onclick="checklogin()"> -->
            {% with messages = get_flashed_messages() %}
            {% if messages -%}
              <ul class='flashes' style="color:red;">
              {% for message in messages -%}<li>{{message}}</li>{% endfor %}
              </ul>
            {% endif %}
            {% endwith %}
            </p>
        </form>
    </div> <!-- entry-content -->
</section> <!-- content -->
<script>
    alpha = [
        ['a', 1], ['b', 2], ['c', 3], ['d', 4], ['e', 5], ['f', 6], ['g', 7], ['h', 8], ['i', 9], ['j', 10],
        ['k', 11], ['l', 12], ['m', 13], ['n', 14], ['o', 15], ['p', 16], ['q', 17], ['r', 18],
        ['s', 19], ['t', 20], ['u', 21], ['v', 22], ['w', 23], ['x', 24], ['y', 25], ['z', 26]
    ]

    function checklogin() {
        var user_name = document.getElementById('user_name').value;
        // alert(user_name)
        // alert(document.getElementById('pass_word').value)
        var pass_word = enc(document.getElementById('pass_word').value);
        // alert(user_name + ' ' + pass_word)
        var url = "{{ url_for('login') }}";
        request.open("POST", url, true);

        request.onreadystatechange = login_confirm;
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send("user_name=" + escape(user_name) + "&pass_word=" + escape(pass_word));
    }

    function login_confirm(response) {
        if (request.readyState == 4) {
            if (request.status == 200) {
                window.location.href = request.getResponseHeader("starwars");
            }
            else {
                var message = request.getResponseHeader("Status");
                if ((message.length == null) || (message.length <= 0)) {
                    alert("Error! Request status is " + request.status);
                }
                else {
                    alert(message);
                }
            }
        }
    }

    function find(x) {
        for (k = 0; k < alpha.length; k++) {
            if (alpha[k][1] == x) {
                return alpha[k][0];
            }
        }
    }

    function dec(s) {
        o = '';
        i = 0;
        while (i < s.length) {
            j = 0;
            while (j < alpha.length) {
                if (s[i] == alpha[j][0]) {
                    x = alpha[j][1];
                    y = x - 3;
                    if (y <= 0) {
                        y = y + alpha.length;
                    }
                    o = o + find(y);
                    break;
                }
                j = j + 1;
            }
            i = i + 1;
        }
        return o
    }

    function enc(s) {
        o = '';
        i = 0;
        while (i < s.length) {
            j = 0;
            while (j < alpha.length) {
                if (s[i] == alpha[j][0]) {
                    x = alpha[j][1];
                    y = x + 3;
                    if (y > alpha.length) {
                        y = y - alpha.length;
                    }
                    o += find(y);
                    break;
                }
                j = j + 1;
            }
            i = i + 1;
        }
        return o;
    }
</script>

{% endblock %}