{% extends "layout.html" %}
{% block content %}

<section class="article" id="content">
    <header>
        <!-- Post Title -->
        <h1 class="entry-title">
            hello world</h1>
        <!-- Post Info -->
    </header>

    <!-- Content Main Start -->
    <div class="entry-content">
        {% if parties %}
        <p>Party</p>
        <table id="party_table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>GST No.</th>
            </tr>
            {% for i, val in enumerate(parties) %}
            <tr>
                <td id="uid_{{i}}"><a href="javascript:edit_party({{i}});">{{ val['uid'] }}</a></td>
                <td id="name_{{i}}">{{ val['name'] }}</td>
                <td id="address_{{i}}">{{ val['address'] }}</td>
                <td id="email_{{i}}">{{ val['email'] }}</td>
                <td id="phone_{{i}}">{{ val['phone'] }}</td>
                <td id="gst_{{i}}">{{ val['gst'] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <!-- Comments Section -->
        <!-- Add comment -->
        <p>add a party<br>
            Name<br>
            <input type="text" id="p_name" name="p_name"'><br><br>
            Address<br>
            <textarea style="max-width:33rem;width:80%" name="p_addr" rows="4"
            id="p_addr"></textarea><br><br>
            Email<br>
            <input type="text" id="p_email" name="p_email"'><br><br>
            Phone<br>
            <input type="text" id="p_phone" name="p_phone"'><br><br>
            GST No.<br>
            <input type="text" id="p_gst" name="p_gst"'><br><br>

            <input type="button" onclick="submit_party()" value="Add Party">
        </p>
    </div> <!-- entry-content -->
</section> <!-- content -->
<script>
    function submit_party() {
        var p_name = document.getElementById("p_name").value;
        var p_addr = document.getElementById("p_addr").value;
        var p_email = document.getElementById("p_email").value;
        var p_phone = document.getElementById("p_phone").value;
        var p_gst = document.getElementById("p_gst").value;

        var url = "{{ url_for('addparty') }}";
        request.open("POST", url, true);

        request.onreadystatechange = party_confirm;
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send("p_name=" + escape(p_name) + "&p_addr=" + escape(p_addr) + "&p_email=" + escape(p_email) + "&p_phone=" + escape(p_phone) + "&p_gst=" + escape(p_gst));
    }

    function party_confirm() {
        if (request.readyState == 4) {
            var new_party = JSON.parse(request.responseText);
            var comments_div = document.getElementById("party_table");
            tr1 = document.createElement("tr");
            td1 = document.createElement("td");
            td2 = document.createElement("td");
            td3 = document.createElement("td");
            td4 = document.createElement("td");
            td5 = document.createElement("td");
            td6 = document.createElement("td");
            tx = document.createTextNode(new_party['uid']);
            tx2 = document.createTextNode(new_party['name']);
            tx3 = document.createTextNode(new_party['address']);
            tx4 = document.createTextNode(new_party['email']);
            tx5 = document.createTextNode(new_party['phone']);
            tx6 = document.createTextNode(new_party['gst']);
            td1.appendChild(tx);
            td2.appendChild(tx2);
            td3.appendChild(tx3);
            td4.appendChild(tx4);
            td5.appendChild(tx5);
            td6.appendChild(tx6);
            tr1.appendChild(td1);
            tr1.appendChild(td2);
            tr1.appendChild(td3);
            tr1.appendChild(td4);
            tr1.appendChild(td5);
            tr1.appendChild(td6);
            comments_div.appendChild(tr1)
            alert("done");
        }
    }

    function edit_party(no) {
        // document.getElementById("edit_button" + no).style.display = "none";
        // document.getElementById("save_button" + no).style.display = "block";

        document.getElementById("p_name").value = document.getElementById("name_" + no).innerHTML;
        document.getElementById("p_addr").value = document.getElementById("address_" + no).innerHTML;
        document.getElementById("p_email").value = document.getElementById("email_" + no).innerHTML;
        document.getElementById("p_phone").value = document.getElementById("phone_" + no).innerHTML;
        document.getElementById("p_gst").value = document.getElementById("gst_" + no).innerHTML;
    }
</script>
{% endblock %}