{% extends "layout.html" %}
{% block content %}
<section class="article" id="content">
    <div class="entry-content">
        {% if profile_image %}
        <p class="img"><img alt="Cover image" src="{{ profile_image }}"></p>
        {% endif %}
        {% if post %}
        <p>{{post['content']|markdown}}</p>
        <p style="text-align: center;">...</p>
        {% endif %} <!-- post_data -->
        {% if user_details %}
        <p>
            <!-- urnave -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Verified</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user_details[2] }}</td>
                    <td>{{ user_details[5] }}</td>

                    {% if user_details[3] == 0 %}
                    <td>False</td>
                    {% else %}
                    <td>True</td>
                    {% endif %}
                    
                    {% if user_details[4] == 0 %}
                    <td>False</td>
                    {% else %}
                    <td>True</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        </p>
        {% endif %} <!-- user_details -->
        {% if post_list %}
        <p>
            <h2>Posts</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Summary</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in post_list %}
                    <tr>
                        <td><a href="{{ url_for('post', uid=item['uid']) }}">{{ item['uid'] }}</a></td>
                        <td><a href="{{ url_for('post', uid=item['uid']) }}">{{ item['entrytitle'] }}</a></td>
                        <td>{{ item['time'] }}</td>
                        <td>{{ item['summary'] }}</td>
                        {% if user_details -%}
                        <td><a href="{{ url_for('editpost', postid=item['uid']) }}">(edit)</a></td>
                        <td><a href="{{ url_for('removepost', postid=item['uid']) }}">(delete)</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
        {% endif %}
        {% if user_details %}
        <p>
            You can add here your <i>post id</i> to show that on your profile page else <i>leave it empty</i>
            <br><input type="text" name="u_bio_url" value="{{ user_details[6]}}" id="u_bio_url">&nbsp;&nbsp;
            <input type="button" onclick="submit_bio_url()" value="Save bio link">
        </p>
        {% endif %}
    </div>
</section>
<script>
    function submit_bio_url() {
            // alert('yes');
            var u_bio_url = document.getElementById("u_bio_url").value;
            var u_user_id = {{ user_details[0] }};

            var url = "{{ url_for('saveprofile') }}";
            request.open("POST", url, true);

            request.onreadystatechange = bio_confirm;
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send("u_bio_url=" + escape(u_bio_url) + "&u_user_id=" + escape(u_user_id));
        }

        function bio_confirm() {
            if (request.readyState == 4) {
                if (request.status == 200) {
                    alert("done");
                    // var comments_div = document.getElementById("comment-list");
                    // h5 = document.createElement("h5");
                    // tx = document.createTextNode(last_c_name);
                    // h5.appendChild(tx);
                    // pE = document.createElement("p");
                    // tx2 = document.createTextNode(last_c_text);
                    // pE.appendChild(tx2);
                    // comments_div.appendChild(h5);
                    // comments_div.appendChild(pE)
                }
                else {
                    var message = request.getResponseHeader("Status");
                    if ((message.length == null) || (message.length <= 0)) {
                        alert("Error! Request status is " + request.status);
                    }
                    else {
                        alert(message);
                    }
                }
            }
        }
</script>
{% endblock %}