{% extends "layout.html" %}
{% block content %}

<section class="article" id="content">
    <header>
        <!-- Post Title -->
        <p class="summary">Sign-up</p>
    </header>
    <!-- Content Main Start -->
    <div class="entry-content">
        <!-- Main Content Data -->
        <p>Enter your username, password, and email in the following fields and press enter or click Register. If all is fine, you will be redirected to account verification page, where you must enter the pin sent to your registered email. If you have already registered on our site, you can <a href="{{ url_for('login') }}">login here</a>.
        </p>
        <form action="register" method="POST">
            <p>
    Username: &nbsp;
    <input type="text" id="user_name" name="user_name"><br>
    Password: &nbsp;&nbsp;
    <input type="password" id="pass_word" name="pass_word"><br>
    Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="email" name="email"><br>
    <input type="submit" id="add_user" value="Register">
    <!-- <input type="button" id="add_user" value="Register" onclick="add_user()"> -->
    {% with messages = get_flashed_messages() %}
    {% if messages -%}
      <ul class='flashes' style="color:red;">
      {% for message in messages -%}<li>{{message}}</li>{% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
</p>
</form>
</div> <!-- entry-content -->
</section> <!-- content -->
    <script>
        alpha = [
            ['a', 1], ['b', 2], ['c', 3], ['d', 4], ['e', 5], ['f', 6], ['g', 7], ['h', 8], ['i', 9], ['j', 10],
            ['k', 11], ['l', 12], ['m', 13], ['n', 14], ['o', 15], ['p', 16], ['q', 17], ['r', 18],
            ['s', 19], ['t', 20], ['u', 21], ['v', 22], ['w', 23], ['x', 24], ['y', 25], ['z', 26]
        ]

        function add_user() {
            var user_name = document.getElementById('user_name').value;
            var pass_word = enc(document.getElementById('pass_word').value);
            var email = document.getElementById('email').value;
            
            var url = "{{ url_for('register') }}";
            request.open("POST", url, true);

            request.onreadystatechange = register_confirm;
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send("user_name=" + escape(user_name) + "&pass_word=" + escape(pass_word) + "&email=" + escape(email));
        }

        function register_confirm() {
            if (request.readyState == 4) {
                if (request.status == 200) {
                    alert('done')
                }
                else {
                    var message = request.getResponseHeader("Status");
                    if ((message.length == null) || (message.length <= 0)) {
                        alert("Error! Request status is " + request.status);
                    }
                    else {
                        alert(message);
                    }
                }
            }
        }

        function find(x) {
            for (k = 0; k < alpha.length; k++) {
                if (alpha[k][1] == x) {
                    return alpha[k][0];
                }
            }
        }

        function dec(s) {
            o = '';
            i = 0;
            while (i < s.length) {
                j = 0;
                while (j < alpha.length) {
                    if (s[i] == alpha[j][0]) {
                        x = alpha[j][1];
                        y = x - 3;
                        if (y <= 0) {
                            y = y + alpha.length;
                        }
                        o = o + find(y);
                        break;
                    }
                    j = j + 1;
                }
                i = i + 1;
            }
            return o
        }

        function enc(s) {
            o = '';
            i = 0;
            while (i < s.length) {
                j = 0;
                while (j < alpha.length) {
                    if (s[i] == alpha[j][0]) {
                        x = alpha[j][1];
                        y = x + 3;
                        if (y > alpha.length) {
                            y = y - alpha.length;
                        }
                        o += find(y);
                        break;
                    }
                    j = j + 1;
                }
                i = i + 1;
            }
            return o;
        }
    </script>
{% endblock %}