{% extends "layout.html" %}
{% block content %}

<section class="article" id="content">
    <div class="entry-content">
        <p><form action="{{ url_for('removepost', postid=postid)}}" method="POST">
            <input type="text" hidden="True" name="post_id" id="post_id" value="{{postid}}">
            Enter {{postid}}, which is your post id and press confirm to delete the post.<br>
            <input type="text" id="e_pin" name="e_pin">&nbsp;
            <input type="submit" value="Confirm">
            {% with messages = get_flashed_messages() %}
            {% if messages -%}
              <ul class='flashes' style="color:red;">
              {% for message in messages -%}<li>{{message}}</li>{% endfor %}
              </ul>
            {% endif %}
            {% endwith %}
        </form></p>
    </div>
</section>
{% endblock %}