{% extends "layout.html" %}
{% block content %}

<section class="article" id="content">
    <header>
        <!-- Post Title -->
        <p class="summary">Verify your Account</p>
    </header>
    <!-- Content Main Start -->
    <div class="entry-content">
        <!-- Main Content Data -->
        <p>You must verify your account before you can continue using this site.<br>
            We have sent a pin number to your registered email id with us. Kindly check the mail and enter the pin given
            and click Verify button.
        </p>
        <form action=verifyaccount method=post>
            <p>
                Pin<br>
                <input type="text" id="a_pin" name="a_pin"><br>
                <input type="submit" value="Verify">
            </p>
        </form>
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages -%}
                  <ul class='flashes' style="color:red;">
                  {% for message in messages -%}<li>{{message}}</li>{% endfor %}
                  </ul>
                {% endif %}
            {% endwith %}
        </p>
    </div> <!-- entry-content -->
</section> <!-- content -->
<script>
    function verify_account() {
        var a_pin = document.getElementById("a_pin").value;
        alert(a_pin)
        var url = "{{ url_for('verifyaccount') }}";
        request.open("POST", url, true);

        request.onreadystatechange = verify_confirm;
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send("a_pin=" + escape(a_pin));
    }

    function verify_confirm() {
        if (request.readyState == 4) {
            if (request.status == 200) {
                alert("done");
            }
            else {
                var message = request.getResponseHeader("Status");
                if ((message.length == null) || (message.length <= 0)) {
                    alert("Error! Request status is " + request.status);
                }
                else {
                    alert(message);
                }
            }
        }
    }
</script>
{% endblock %}